@{
    ViewBag.Title = "About us";
Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}
<h2 class="title text-center">About us</h2>
@Html.Raw(ViewBag.About)



<p>
     <h1 dir="LTR">
Canada -richnomd hill-     </h1>
    
    

</p>

<br/>
<p>
    
   <br/>
    <h1 dir="RTL">
        021-44854897  
    </h1>
    <h1>
         Email ;   info@Rdamin.ir
    </h1>
</p>



<p>
    
    <h4>
        Bahman Rashidi 
<br/>
        Iran _ canda
<br/>
        
<br/>
          
<br/>   
    </h4>


</p>