@{
    ViewBag.Title = "About us";
 Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}
<h2 class="title text-center">Rules and Regulations</h2>
@Html.Raw(ViewBag.About)


<p>
     <h4>
        name and  family:  
<br/>
        : 
<br/>
        Sin Number: 
<br/>
        Education :   
<br/>   
    </h4>

</p>
<p>
    <h4>
</h4>
</p>

<p>
     <h4>
</h4>

</p>

<br/>
<p>
     <h4>
</h4>
</p>



<p>
     <h4>
</h4>
</p>

<p>
     <h4>
</h4>
</p>

<p>
     <h4>
</h4>
</p>

<p>
     <h4>
</h4>
</p>

<p>
     <h4>
</h4>
</p>

<p>
     <h4>
</h4>
</p>


