@{
    ViewBag.Title = "Email Address Verification";
}

<h2 class="title text-center">@ViewBag.Title</h2>
<div>
    <p>
        Thank you, dear User, please @Html.ActionLink("Click to login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
