@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h2 class="title text-center">@ViewBag.Title</h2>
</hgroup>
<div>
    <p>
        Please check your email for the Change Password link
    </p>
</div>
	
