@model IEnumerable<MLM_app.Models.ProductGroup>
@{
    ViewBag.Title = "Display list of  product groups";
    Layout = "~/Views/Shared/_LayoutMLM.cshtml";
}

<div id="productGroupsList">
    @Html.Partial("_ProductGroupsList", Model)
</div>
@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $(document).on("click", "#contentPager a[href]", function () {
                $.ajax({
                    url: $(this).attr("href"),
                    type: 'GET',
                    cache: false,
                    success: function (result) {
                        $('#productGroupsList').html(result);
                    }
                });
                return false;
            });



        });
    </script>
}




